venv/
__pycache__/
__pycache__
**/__pycache__/
/__pycache__/
lib/books/__pycache__/models.cpython-310.pyc
lib/books/__pycache__/views.cpython-310.pyc
.idea/dbnavigator.xml
lib/db.sqlite3
migrations/
**/migrations/
lib/media
lib/client/__pycache__/forms.cpython-310.pyc
lib/client/__pycache__/views.cpython-310.pyc
lib/main/__pycache__/models.cpython-310.pyc
lib/lib/__pycache__/urls.cpython-310.pyc
lib/lib/__pycache__/settings.cpython-310.pyc
lib/client/__pycache__/models.cpython-310.pyc
.idea/norm_lib.iml
.idea/misc.xml
.idea/misc.xml~7db96cce20c27b60a327b6264f222af7aac4841f
.idea/norm_lib.iml~7db96cce20c27b60a327b6264f222af7aac4841f
.idea/
lib/client/__pycache__/urls.cpython-310.pyc
Ddecor.py
lib/take_return_book/__pycache__/