venv/
__pycache__/
__pycache__
**/__pycache__/
lib/books/__pycache__/models.cpython-310.pyc
lib/books/__pycache__/views.cpython-310.pyc
.idea/dbnavigator.xml
lib/db.sqlite3
migrations/
**/migrations/
lib/media
lib/client/__pycache__/forms.cpython-310.pyc
lib/client/__pycache__/views.cpython-310.pyc
lib/main/__pycache__/models.cpython-310.pyc